* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: bisque;
    text-align: center;
}

#products {
    width: 90%;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    margin-left: 4rem;
}

.box:hover {
    transform: translateY(-5px);
    transition: .5s ease-in-out;
    border: 10px solid rgb(150, 67, 234);
}

.box {
    border-radius: 20px;
    height: 50%;
    box-shadow: 0 0 5px #777;
    width: 20%;
    border: 10px solid rgb(255, 165, 69);
    transition: color 250ms linear ease-in-out; 
    text-decoration: none;
    background-color: rgb(13, 118, 83)
}

.image {
    width: 15rem;
    height: 30vh;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(13, 118, 83);
    background-size: cover;
}

.price {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    background-color: rgb(13, 118, 83);
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    font-weight: bold;
}

.description {
    height: 17vh;
    text-align: justify;
    padding:10px;
    background-color: rgb(13, 118, 83);
    color: white;
}

#category {
    text-transform: uppercase;
}

.border {
    border: 5px solid;
    width: 30%;
    height: 50%;
    justify-content: center;
    margin: auto;
    transform: translateY(20px);
}

#title, #stock, #brand {
    text-align: left;
    color: red;
}
